body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* background-image: image("logo.png"); */
}

.body-image{
    background-color: ;

}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.image-logo {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page-color{
    background-color: black;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


form {
    background-color: #5ce2ff;
    width: 200px;
    height: 120px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 30px;
}

.journalEntryForm {
     background-color: #5ce2ff;
    width: 500px;
    height: 350px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 30px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: white;
  border-radius: 4px;
  color: black;
  min-height: 35px;
  min-width: 75px;
  outline:0;
  cursor: pointer;
  font-size: 14px;


}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #bababa;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.App {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.emotion-list {
  text-align: center;
}

.MovieList-Header {
  font-size: 75px;
  font-family: 'Bungee Shade', cursive;
  color: white;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 0px;
}

.EmotionItem-Card {
  margin: 10px;
}

.EmotionItem-Square {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.EmotionItem-Icon {
  display: flex;
  flex-direction: row-reverse;
}

.Details-Description {
  padding: 20px;
}

.Details-DescriptionContainer {
  margin: 20px;
}

.Details-MovieTitle {
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
  color: black;
  padding: 0px 20px;
}

.Details-ImgGenreContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 20px;
}

.Details-AppBar {
  padding: 10px 20px;
}

.Edit-AppBar {
  padding: 10px 20px;
}

.Edit-ImgGenreContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 20px;
}

.Edit-Description {
  width: 60%;
  height: 300px;
}

.Edit-FormContainer {
  margin: 20px;
}

.loginPage {
    background-color: black;
}
.loginForm {
    text-align: center;
}