body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    /* background-image: image("logo.png"); */
}

.body-image{
    background-color: ;

}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.image-logo {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.page-color{
    background-color: black;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


form {
    background-color: #5ce2ff;
    width: 200px;
    height: 120px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 30px;
}

.journalEntryForm {
     background-color: #5ce2ff;
    width: 500px;
    height: 425px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 30px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: white;
  border-radius: 4px;
  color: black;
  min-height: 35px;
  min-width: 75px;
  outline:0;
  cursor: pointer;
  font-size: 14px;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #bababa;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.App {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.emotion-list {
  text-align: center;
}

.EmotionItem-Card {
  margin: 10px;
}

.EmotionItem-Square {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
}

.EmotionItem-Icon {
  display: flex;
  flex-direction: row-reverse;
}

.Details-Description {
  padding: 20px;
}

.Details-DescriptionContainer {
  margin: 20px;
}



.Edit-ImgGenreContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 20px;
}

.Edit-Description {
  width: 60%;
  height: 300px;
}

.Edit-FormContainer {
  margin: 20px;
}

.EmotionList-Header{
   font-size: 26px;
   font-family: 'Offside'; 

}

.loginPage {
    background-color: black;
}
.loginForm {
    text-align: center;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.nameCard {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .card {
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
    padding: 15px 50px 30px 50px;
  }

  .journalEntryItem {
      font-size: 18px;
      text-align: center;
  }

  .journalFeels{
      text-align: center;
  }

  .journalEntry{
      font-size: 18px;
  }