.nav-title {
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
    padding-right: 6px;
    font-family: 'Offside';
    font-size: 22px;
   
}

.nav {
  overflow: hidden;
  background-color: #d15cff;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #d15cff;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
    font-family: 'Offside';
    font-size: 16px;

}

.logotwo {
  width: 3%;
  border-radius: 8px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.nav-link:hover {
  background-color: #787878;
}

.nav-right {
  float: right;
}